$primary: tomato; // To change the primary color

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 200px;
  margin: 10px;
}

.card-img-top {
  height: 200px;
  object-fit: cover; // To keep the ratio and crop
}